@import "../ze/current/theme/waybar.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 11px;
}

window#waybar {
  background-color: @background;
  color: @foreground;
}

#window {
  margin-left: 10px;
}

#workspaces button {
  padding: 1px 4px;
  margin: 0px 0px 0px 7px;
  background: transparent;
  border-radius: 8px;
  color: @foreground;
}

#workspaces button.active {
  background: @accent;
  color: @background;
  font-weight: 700;
}

#submap,
#battery,
#bluetooth,
#network,
#cpu,
#memory,
#volume {
  border-radius: 8px;
  padding: 1px 8px;
  margin: 0px 10px 0px 0px;
  background: @background-alt;
}

#submap,
#workspaces button.urgent {
  background: @urgent;
  color: @background;
}

#pulseaudio-slider {
  padding: 0px;
  margin: 0px;
  margin-left: 8px;
}

#pulseaudio-slider slider {
  all: unset;
  min-height: 0;
  min-width: 0;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 8px;
  min-width: 75px;
  border-radius: 5px;
  background: @muted;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background: @accent;
}

#media {
  color: @accent;
  margin: 7px 0px 7px 80px;
}

#custom-media-animation {
  font-size: 13px;
  margin-right: 10px;
}

#custom-media-now-playing {
  margin-right: 10px;
}

#custom-media-time {
  color: @muted;
  font-size: 14px;
}

tooltip {
  background: @background;
  border-radius: 5px;
}

tooltip label {
  color: @foreground;
}